[defaults]
inventory = inventory.aws_ec2.yml   # your dynamic inventory file or script
remote_user = ubuntu              # default SSH user
private_key_file = /Users/jagdish/Downloads/devops-final.pem
host_key_checking = False             # optional, avoid host key prompts